.header{
  background-color:lightblue;
  height: 20%;
  padding: 3%;
}
section{
  background-image:linear-gradient(to bottom right, rgba(238,130,238,0), rgba(75,0,130,0.5));
  height: 900px;
}
.connectWallet{
  margin-left: 80%;
}
.CarList {
  background-color: white;
  margin: 3%;
  padding: 1%;
  display: inline-grid;
  height: 10%;
  width: 30%;
  border-radius: 10px;
  border-color: lightblue;
  border-style: solid;
  box-shadow: 10px 10px 5px lightblue;
}
.Cars{
  margin-left:15%;
}
.licenseCard{
height: 650px;
padding: 7%;
line-height: 2;
font-size:x-large;
width: 60%;
margin: -600px auto 0 300px;
background-color: rgb(224, 195, 26);
border: 1px dashed;
position:absolute;
}
.formDetails{
  margin-top:10%;
  margin-bottom:10%;
}
label, input{
  font: 1.5em sans-serif;
  color: darkblue;
  margin: 1%;
  line-height: 1.5;
}
.licenseDetails{
  background-color: white;
  margin: 2% 20% 0 25%;
  padding: 2%;
  width: 50%;
  height: 600px;
  z-index: 9;
}
.licenseInfo{
  padding: 5% 0% 0% 25%;
}
.LicensePlate{
  font-size: 3rem;
  color:darkblue;
  border: 3px solid;
  padding: 1%;
  margin: 0 0 10% 38%;
  width: 400px;
}
.mintNFT{
padding-top: 20%;
}
.NFT{
  background-image:linear-gradient(to bottom right, rgba(238,130,238,0), rgba(75,0,130,0.5));
  height: 900px;
}
.plateDetails{
margin-left:-180px;
}
.mapVehicle {
  margin: 10% auto 0 auto;
  padding: 3% 3% 3% 3%;
  width: 30%;
  height: 50%;
  background-color: lightslategray;
  border: dashed 4px darkblue;
}
.mapVehicleBtn {
margin-left: 33%;
}
.sucessPageButtons{
margin: 3% 0 0 20%;
}
.mintLicense{
  margin-left:33%;
}
;